<div class="app-container">
  <div class="app-content">
    <table *ngIf="users">
      <thead>
        <tr>
          <th>ID</th>
          <th>Usuário</th>
          <th>Permissões</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>
            <div class="app-buttons">
              <button [disabled]="user.role === 'admin'" class="btn-primary" [class.btn-outline]="user.role === 'standard'" (click)="setAdmin(user.id, true)">
                Admin
              </button>
              <!-- <button [disabled]="user.role === 'standard'" class="btn-primary" [class.btn-outline]="user.role === 'admin'" (click)="setAdmin(user.id, false)">
                Moderador // IMPLEMENTAR DEPOIS UM MODERADOR
              </button> -->
              <button [disabled]="user.role === 'standard'" class="btn-primary" [class.btn-outline]="user.role === 'admin'" (click)="setAdmin(user.id, false)">
                Padrão
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>