<div class="app-container">
  <div class="app-header">
    <div class="app-header-left">
      <div class="app-header-logo" alt="Logo.Prisma" (click)="logo()">
        <img src="/svg/PrismaFill.svg" >
      </div>
    </div>
    <div class="app-header-mid">
      @if (user && user.role === 'admin') {
        <div class="app-header-items">
          <div class="app-header-item" routerLink= "posts" routerLinkActive="active">
            Blog
          </div>
          <div class="app-header-item" routerLink= "admin/post-form" routerLinkActive="active">
            Nova Publicação
          </div>
          <div class="app-header-item" routerLink= "admin/users" routerLinkActive="active">
            Usuários
          </div>
          <!-- PARA SITE
          <div class="app-header-item" routerLink= "" routerLinkActive="active">
            Para Psis
          </div>
          <div class="app-header-item" routerLink= "" routerLinkActive="active">
            Início
          </div>
          <div class="app-header-item" routerLink= "" routerLinkActive="active">
            Sobre Mim
          </div>
          <div class="app-header-item" routerLink= "" routerLinkActive="active">
            Contato
          </div>
          <div class="app-header-item" routerLink= "" routerLinkActive="active">
            Psicoterapia
          </div>
          <div class="app-header-item" routerLink= "" routerLinkActive="active">
            Produtos
          </div>
          <div class="app-header-item" routerLink= "" routerLinkActive="active">
            Supervisão
          </div>
          -->
        </div>
      }
    </div>
    <div class="app-header-right">
      @if (user) {
        <div class="app-auth-user">
          Olá, <span class="app-auth-username">{{ user.username }}</span>
        </div>
        <div class="app-header-item" (click)="logout()">
          Sair
        </div>
      } @else {
        <div class="app-header-items">
          <div class="app-header-item" routerLink= "auth/sign-up" routerLinkActive="active">
            Criar Conta
          </div>
          <div class="app-header-item" routerLink= "auth/sign-in" routerLinkActive="active">
            Entrar
          </div>
        </div>
      }
    </div>
  </div>
  <!--<div class="app-categories">
    <div class="app-categories-items">
      <div class="app-categories-item" routerLink= "" routerLinkActive="active">
        Categoria 1
      </div>
      <div class="app-categories-item" routerLink= "" routerLinkActive="active">
        Categoria 2
      </div>
      <div class="app-categories-item" routerLink= "" routerLinkActive="active">
        Categoria 3
      </div>
      <div class="app-categories-item" routerLink= "" routerLinkActive="active">
        Categoria 4
      </div>
    </div>
  </div> -->
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</div>