<div class="app-container">
  <div class="app-header">
    <div class="app-header-left">
      <div class="app-header-logo">
        <img src="/svg/PrismaFill.svg" >
      </div>
    </div>
    <div class="app-header-mid">
      <div class="app-header-items">
        <div class="app-header-item" routerLink= "posts" routerLinkActive="active">
          Posts
        </div>
        <div class="app-header-item" routerLink= "admin/post-form" routerLinkActive="active">
          Novo Post
        </div>
        <div class="app-header-item" routerLink= "admin/users" routerLinkActive="active">
          Usuários
        </div>
        <!-- PARA SITE
        <div class="app-header-item" routerLink= "" routerLinkActive="active">
          Para Psis
        </div>
        <div class="app-header-item" routerLink= "" routerLinkActive="active">
          Início
        </div>
        <div class="app-header-item" routerLink= "" routerLinkActive="active">
          Sobre Mim
        </div>
        <div class="app-header-item" routerLink= "" routerLinkActive="active">
          Contato
        </div>
        <div class="app-header-item" routerLink= "" routerLinkActive="active">
          Psicoterapia
        </div>
        <div class="app-header-item" routerLink= "" routerLinkActive="active">
          Produtos
        </div>
        <div class="app-header-item" routerLink= "" routerLinkActive="active">
          Supervisão
        </div>
        -->
      </div>
    </div>
    <div class="app-header-right">
      @if (username) {
        <div class="app-auth-user">
          Hello, <span class="app-auth-username">{{ username }}</span>
        </div>
        <div class="app-header-item" (click)="logout()">
          Logout
        </div>
      } @else {
        <div class="app-header-items">
          <div class="app-header-item" routerLink= "sign-up" routerLinkActive="active">
            Criar Conta
          </div>
          <div class="app-header-item" routerLink= "sign-in" routerLinkActive="active">
            Login
          </div>
        </div>
      }
    </div>
  </div>
  <!--<div class="app-categories">
    <div class="app-categories-items">
      <div class="app-categories-item" routerLink= "" routerLinkActive="active">
        Categoria 1
      </div>
      <div class="app-categories-item" routerLink= "" routerLinkActive="active">
        Categoria 2
      </div>
      <div class="app-categories-item" routerLink= "" routerLinkActive="active">
        Categoria 3
      </div>
      <div class="app-categories-item" routerLink= "" routerLinkActive="active">
        Categoria 4
      </div>
    </div>
  </div> -->
  <div class="app-content">
    <router-outlet></router-outlet>
  </div> 
</div>