<div class="app-container">
  <div class="app-card sign">
    <div class="app-card-header">
      <div class="app-card-header-title">CRIAR CONTA</div>
    </div>
    <div class="app-card-content">
      <form [formGroup]="form">
        <div class="app-control">
          <div class="app-label"></div>
          <div class="app-input">
            <input type="text" placeholder="Email" formControlName="username">
          </div>
          <div *ngIf="hasError('username')" class="app-error">
            <ng-container *ngIf="getErrorName('username')['required']">Campo Obrigatório</ng-container>
            <ng-container *ngIf="getErrorName('username')['minlength']">Mínimo 6 caracteres</ng-container>
            </div>
        </div>
        <div class="app-control">
          <div class="app-label"></div>
          <div class="app-input">
            <input type="password" placeholder="Criar Senha" formControlName="password">
          </div>
          <div *ngIf="hasError('password')" class="app-error">
            <ng-container *ngIf="getErrorName('password')['required']">Campo Obrigatório</ng-container>
            <ng-container *ngIf="getErrorName('password')['minlength']">Mínimo 6 caracteres</ng-container>
          </div>
        </div>
        <div class="app-control">
          <div class="app-label"></div>
          <div class="app-input">
            <input type="password" placeholder="Redigitar a Senha" formControlName="confirmPassword">
          </div>
          <div *ngIf="hasError('confirmPassword')" class="app-error">
            <ng-container *ngIf="getErrorName('confirmPassword')['required']">Campo Obrigatório</ng-container>
            <ng-container *ngIf="getErrorName('confirmPassword')['passwordMismatch']">As senhas não coincidem</ng-container>
          </div>
        </div>
      </form>
      <div class="pt-2">
        <button [disabled]="form.invalid" class="btn-primary" (click)="submit()">Criar Conta</button>
      </div>
    </div>
  </div>
</div>