<div class="app-container">
  <div class="app-posts">
    <div *ngFor="let post of posts" class="app-post" (click)="detail(post)">
      <div class="app-post-thumbnail" [style.background-image]="'url(' + imageUrl + post.id + '.png)'"></div>
      <div class="app-post-user">
        <div class="app-post-username">{{ post.user.username }}</div>
        <div class="app-post-separater">-</div>
        <div class="app-post-date">{{ post.createdAt | dateFormat }}</div>
      </div>
      <div class="app-post-title">{{ post.title }}</div>
      <div class="app-post-description">{{ post.description }}</div>
    </div>
  </div>
</div>