.app-container {
  .app-posts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em;

    .app-post {
      background-color: var(--app-color-light);
      border-radius: 24px 24px 4px 4px;

      .app-post-thumbnail {
        background-color: var(--app-color-light-shade);
        height: 200px;
        border-radius: 24px 24px 4px 4px;
      }

      .app-post-user {
        display: flex;
        gap: 0 0.5em;
        color: var(--app-color-medium);
        font-size: 12px;
        // padding-top: 0.25em;
        padding: 0.25em 0.5em 0 0;
        justify-content: flex-end;
      }

      .app-post-title {
        font-size: 18px;
        color: var(--app-color-dark);
        font-weight: bold;
        padding: 0.25em 1em 0 1em;
      }

      .app-post-description {
        color: var(--app-color-dark-tint);
        padding: 0.25em 1em 1em 1em;
      }

      &:hover {
        cursor: pointer;
        .app-post-thumbnail {
          background-color: var(--app-color-medium);
        }

        .app-post-user {
          color: var(--app-color-medium-shade);
        }

        .app-post-title {
          color: var(--app-color-dark-shade);
        }

        .app-post-description {
          color: var(--app-color-dark);
        }
      }
    }

    @media (min-width: 760px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1080px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}