.app-container {
  .app-post {
    width: 100%;
    margin: auto;
    padding-top: 3em;

    .app-post-image {
      height: 400px;
      background-position: center;
      background-size: cover;
      border-radius: 32px 32px 0 0;
    }

    .app-post-title {
      font-family: 'Roboto';
      font-size: 32px;
      font-weight: 300;
      text-transform: uppercase;
      // color: var(--app-color-primary-shade);
      color: var(--app-color-secondary);
      text-decoration: none;
      padding: 1em 0 0.5em 0;
    }

    .app-post-user {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      color: var(--app-color-medium-shade);
      padding-bottom: 32px;

      .app-post-username {
        display: flex;
        gap: 0 16px;
        align-items: center;

        .app-post-username-name {
          padding-right: 1.5em;
        }

        .app-post-username-edit,
        .app-post-username-delete {
          font-size: 12px;
          cursor: pointer;
          border-top: 1px solid transparent;
          border-bottom: 1px solid transparent;
          color: var(--app-color-light-shade);
          &:hover {
            border-color: var(--app-color-dark);
          }
        }

        .app-post-username-edit {
          &:hover {
            color: var(--app-color-primary);
          }

          &:active {
            color: var(--app-color-primary-shade);
          }
        }

        .app-post-username-delete {
          &:hover {
            color: var(--app-color-danger);
          }

          &:active {
            color: var(--app-color-danger-shade);
          }
        }

    }

      .app-post-date {
        text-align: right;
      }
    }

    .app-post-description {
      padding-bottom: 3em;

      &::ng-deep p {
        font-size: 18px;
        padding: 0.5em 0;
      }
    }

    .app-post-comments {
      padding-top: 2em;

      .app-post-comment-field {
        display: flex;

        .app-post-comment-input, .app-post-comment-unsigned {
          background-color: var(--app-color-light);
          font-size: 16px;
          height: 48px;
          width: 100%;
        }

        .app-post-comment-input {
          border: 1px solid transparent;
          border-radius: 16px 0 0 0;

          form {
            height: 100%;

            input {
              border-left: 1px solid transparent;
              border-top: 1px solid transparent;
              border-bottom: 1px solid transparent;
              border-right: unset;
              color: var(--app-color-dark);
              font-size: 18px;
              padding: 0;
              height: 100%;
              padding: 0 16px;

              &::placeholder {
                color: var(--app-color-dark-tint);
              }

              &:focus {
                border-color: var(--app-color-primary);
                border-radius: 16px 0 0 0;
              }
            }
          }
        }

        .app-post-comment-button {
          button {
            width: fit-content;
            border-radius: 0 16px 0 0;
            height: 100%;
            padding: 0 2em;
          }
        }

        .app-post-comment-unsigned {
          display: flex;
          align-items: center;
          border-radius: 16px 16px 0 0;
          padding: 0 16px;

          .app-post-comment-link {
            color: var(--app-color-primary);
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      .app-post-comment-count {
        color: var(--app-color-medium);
        font-weight: bold;
        padding: 1em 0 1em 0;
      }

      .app-post-comment-items {
        display: flex;
        flex-direction: column;
        gap: 1em 0;

        .app-post-comment-item {
          color: var(--app-color-dark-tint);
          padding: 1em;
          background-color: var(--app-color-light);
          border-radius: 16px 16px 0 0;

          .app-post-comment-item-header {
            display: flex;
            justify-content: space-between;
            padding-bottom: 0.5em;

            .app-post-comment-item-header-username {
              display: flex;
              gap: 0 16px;
              align-items: center;

              .app-post-comment-item-header-username-name {
              font-weight: bold;
              padding-right: 1em;
              }

              .app-post-comment-item-header-username-edit {
                color: var(--app-color-light-shade);
              }

              .app-post-comment-item-header-username-delete {
                display: none;
                color: var(--app-color-danger-shade);
              }
              .app-post-comment-item-header-username-edit,
              .app-post-comment-item-header-username-delete {
                font-size: 12px;
                cursor: pointer;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
              }
            }
          }

          &:hover {
            .app-post-comment-item-header {
              .app-post-comment-item-header-username {
                .app-post-comment-item-header-username-delete {
                  display: block;

                  &:hover {
                    color: var(--app-color-danger);
                    border-color: var(--app-color-dark);
                  }

                  &:active {
                    color: var(--app-color-danger-shade);
                  }
                }
                .app-post-comment-item-header-username-edit {
                  color: var(--app-color-medium-shade);

                  &:hover {
                    color: var(--app-color-primary);
                    border-color: var(--app-color-dark);
                  }

                  &:active {
                    color: var(--app-color-primary-shade);
                  }
                }
              }
            }
          }
        }
      }
    }



    @media (min-width: 900px) {
      width: 70%;
    }
  }
}



