<div class="app-container">
  <div *ngIf="post" class="app-post">
    <div class="app-post-image" [style.background-image]="'url(' + imageUrl + post.id + '.png)'"></div>
    <div class="app-post-title">{{ post.title }}</div>
    <div class="app-post-user">
      <div class="app-post-username">Por <strong>{{ post.user.username }}</strong></div>
      <div class="app-post-date">Atualizado por útlimo em {{ post.updatedAt | dateFormat }}</div>
    </div>
    <div class="app-post-description p-with-padding" [innerHTML]="post.description"></div>
    <div class="app-post-separator">
      <hr>
    </div>
    <div class="app-post-comments">
      <div class="app-post-comment-field" tabindex="0">
        @if (user) {
          <div class="app-post-comment-input">
            <form [formGroup]="commentForm">
              <input type="text" placeholder="Escreva seu cometário aqui" formControlName="text">
            </form>
          </div>
          <div class="app-post-comment-button">
            <button [disabled]="commentForm.invalid" class="btn-primary" (click)="postComment()">Enviar</button>
          </div>
        } @else {
          <div class="app-post-comment-unsigned">
            <div class="app-post-comment-unsigned-content">
              <span class="app-post-comment-link" routerLink="/auth/sign-up">Crie uma conta</span>
              ou clique em
              <span class="app-post-comment-link" routerLink="/auth/sign-in">Entrar</span>
              para poder fazer comentários.
            </div>
          </div>
        }
      </div>
      <div class="app-post-comment-count">
        {{ post.comments.length }}
        @if (post.comments.length > 1) {
          comentários
        } @else {
          comentário
        }
      </div>
      <div class="app-post-comment-items">
        <div *ngFor="let comment of post.comments; let i = index" class="app-post-comment-item">
          <div class="app-post-comment-item-header">
            <div class="app-post-comment-item-header-username">
              <div class="app-post-comment-item-header-username-name">{{ comment.username }}</div>
              @if (user) {
                @if (user.username === comment.username) {
              <div class="app-post-comment-item-header-username-edit" (click)="editComment(i)">Editar</div>
                }
                @if (user.username === comment.username || user.role === 'admin') {
              <div class="app-post-comment-item-header-username-delete" (click)="deleteComment(i)">Deletar</div>
                }
              }
            </div>
          <div class="app-post-comment-item-header-date">{{ comment.createdAt | dateFormat: true}}</div>
        </div>
          <div class="app-post-comment-item-content">{{ comment.text }}</div>
        </div>
      </div>
    </div>
  </div>
</div>