.app-container {
  .app-post {
    width: 100%;
    margin: auto;
    padding-top: 3em;

    .app-post-image {
      height: 400px;
      background-position: center;
      background-size: cover;
      border-radius: 32px 32px 0 0;
    }

    .app-post-title {
      font-family: 'Roboto';
      font-size: 32px;
      font-weight: 300;
      text-transform: uppercase;
      // color: var(--app-color-primary-shade);
      color: var(--app-color-secondary);
      text-decoration: none;
      padding: 1em 0 0.5em 0;
    }

    .app-post-user {
      display: flex;
      justify-content: space-between;
      color: var(--app-color-medium-shade);
      font-size: 16px;
      padding-bottom: 2em;

      .app-post-username {
      }

      .app-post-date {
        text-align: right;
      }
    }

    .app-post-description {
      padding-bottom: 3em;

      &::ng-deep p {
        font-size: 18px;
        padding: 0.5em 0;
      }
    }

    .app-post-comments {
      .app-post-comment-field {
        background-color: var(--app-color-light);
        border: 1px solid transparent;
        border-radius: 16px 16px 0 0;
        padding: 0.75em 1em;

        &.is-input {
          input {
            border: none;
            font-size: 18px;
          }

          &:focus {
            border-color: var(--app-color-primary);
            border-radius: 16px 16px 0 0;
          }
        }



        .app-post-comment-link {
          color: var(--app-color-primary);
          text-decoration: underline;
          cursor: pointer;

        }
      }

      .app-post-comment-count {
        color: var(--app-color-medium);
        font-weight: bold;
        padding: 1em 0 1em 0;
      }

      .app-post-comment-items {
        display: flex;
        flex-direction: column;
        gap: 1em 0;
        .app-post-comment-item {
          color: var(--app-color-dark-tint);
          padding: 1em;
          background-color: var(--app-color-light);
          border-radius: 16px 16px 0 0;

          .app-post-comment-item-header {
            display: flex;
            justify-content: space-between;

            .app-post-comment-item-header-username {
              font-weight: bold;
             }
          }
        }
      }
    }



    @media (min-width: 900px) {
      width: 70%;
    }
  }
}



