@import './theme/variables.scss';

@import './theme/components/layout';
@import './theme/components/card';
@import './theme/components/form';
@import './theme/components/button';
@import './theme/components/table';


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  background-color: var(--app-color-light);
}

h2 {
  margin: 0;
  color: var(--app-color-dark);
 }

p {
  margin: 0;
  color: var(--app-color-dark-tint);
}

.pt-2 {
  padding-top: 0.5em;
}


