@import './theme/variables.scss';

@import './theme/components/layout';
@import './theme/components/card';
@import './theme/components/form';
@import './theme/components/button';


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  background-color: var(--app-color-primary-light);
}

h2 {
  margin: 0;
 }

p {
  margin: 0;
  color: var(--app-color-primary);
}

.pt-2 {
  padding-top: 0.5em;
}


