@import './theme/variables.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  background-color: var(--app-color-primary-light);
}

p {
  color: var(--app-color-primary-normal);
}

