button {
  cursor: pointer;
  border: none;

  &.btn-primary {
    background-color: var(--app-color-primary);
    color: var(--app-color-primary-contrast);

    .text {
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
    }

    &:active {
      background-color: var(--app-color-primary-shade);

    }

    &:hover {
      .text {
        border-color: var(--app-color-dark);
      }
    }

    &[disabled] {
      cursor: not-allowed;
      background-color: var(--app-color-light);

      &:hover {
        .text {
          border-color: transparent;
        }
      }
    }
  }


}