input, button, textarea {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
  outline: none;
  background: none;
  border: 1px solid var(--app-color-primary);
  border-radius: 2px;
  padding: 1em;
}

textarea {
  resize: none;
}

.app-control {
  height: 68px;

  .app-label {
    padding: 0.25em 0;
  }

  .app-error {
    padding: 0.25em;
    font-size: 10px;
    color: var(--app-color-danger);
  }
}