input, button {
  width: 100%;
  outline: none;
  background: none;
  border: 1px solid var(--app-color-primary);
  border-radius: 2px;
  padding: 1em;
}

.app-control {
  height: 68px;
  // padding-bottom: 1em;

  .app-label {
    padding: 0.25em 0;
  }

  .app-error {
    padding-top: 0.25em;
    font-size: 10px;
    color: var(--app-color-danger);
  }
}