.app-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 1em 0 5em 0;
}

.app-form-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}