:root {
  --app-color-primary: #1b75ac;
  --app-color-primary-rgb: 27, 117, 172;
  --app-color-primary-tint: #2695da;
  --app-color-primary-shade: #166191;
  --app-color-primary-dark: #004b7a;
  --app-color-primary-contrast: #ffffff;

  --app-color-secondary: #415678;
  --app-color-secondary-rgb: 65, 86, 120;
  --app-color-secondary-tint: #677d9c;
  --app-color-secondary-shade: #293a55;
  --app-color-secondary-contrast: #ffffff;

  --app-color-light: #ebebeb;
  --app-color-light-rgb: 235, 235, 235;
  --app-color-light-tint: #eeeeee;
  --app-color-light-shade: #d0d0d0;
  --app-color-light-constrast: #000000;

  --app-color-medium: #bbbbbb;
  --app-color-medium-rgb: 187, 187, 187;
  --app-color-medium-tint: #cccccc;
  --app-color-medium-shade: #a0a0a0;
  --app-color-medium-constrast: #000000;

  --app-color-dark: #565656;
  --app-color-dark-rgb: 86, 86, 86;
  --app-color-dark-tint: #7e7e7e;
  --app-color-dark-shade: #3a3a3a;
  --app-color-medium-constrast: #ffffff;




// Atention and warnings
  --app-color-sucess: #40eb0c;
  --app-color-sucess-contrast: #000000;
  --app-color-warning: #928d02;
  --app-color-warning-contrast: #000000;
  --app-color-danger: #a82200;
  --app-color-danger-shade: #7e1900;
  --app-color-danger-contrast: #ffffff;
  //#415678
}